{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "plugins": ["react"],
  "rules": {
    "semi": 0,
    "camelcase": 0,
    "prefer-const": 0,
    "space-before-function-paren": 0,
    "jsx-quotes": [2, "prefer-double"],
    "no-async-promise-executor": 0,
    "no-misleading-character-class": 0,
    "no-useless-catch": 0,
    "lines-between-class-members": 0,
    "indent": 0,
    "no-unused-vars": 0,
    "eqeqeq": 0,
    "key-spacing": 0,
    "eol-last": 0,
    "no-undef": 0,
    "no-redeclare": 0,
    "standard/no-callback-literal": 0,
    "object-curly-spacing": 0,
    "yoda": 0,
    "spaced-comment": 0,
    "no-array-constructor": 0,
    "no-useless-constructor": 0,
    "new-cap": 0,
    "no-trailing-spaces": 0,
    "keyword-spacing": 0,
    "space-in-parens": 0,
    "react/prop-types": 0,
    "space-before-blocks": 0,
    "react/self-closing-comp": 0
  }
}
